

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-scape) {
    font-size: 56.25%; //1rem = 9px = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px = 8/16 = 50%
  }
  @include respond(large) {
    font-size: 75%; //1rem = 12px = 75%
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-dark-gray;
  padding: 3rem;
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}
