.heading-primary {
    text-transform: uppercase;
    color: $color-white;
    backface-visibility: hidden;

    &--main {
      display: block;
      font-size: 200%;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation: moveInLeft 1s ease-out;
      font-size: 7rem;
    }

    &--sub {
      display: block;
      font-size: 75%;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-out;
      margin-bottom: 6rem;
      font-size: 2rem;
    }
  }
